@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-body{
background: url("../bck2.jpg");
background-size: cover;
margin: 10px auto;
width:90%;
height:95%;
box-shadow: 0px 0px 60px rgba(0,0,0,0.5);
display: flex;
align-items: center;
overflow: hidden;

.info-div{
    text-align: center;
        border:1px solid black;
        height:100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.61);
        padding:10px;
        color:white;


        .for-center{
            margin: 20%;
        
        .photo-div{
            margin: 0;
            padding: 0;
            .profile-photo{
                width:150px;
                height: 150px;
                border-radius: 50%;
                border:3px solid white;
            }
           
            .social-list{
                padding: 0;
                margin: 0 auto;
                width:200px;
                margin-top: 20px    ;
                display: flex;
                list-style: none;
                justify-content: space-around;
                
                .social-link{
                    color:white;
                    font-size: 1.2rem;

                    &:hover{
                        transform: scale(2);
                    }
                }
            }
        }
        .hr{
            height:1.3px;
            width:100px;
            background-color: white;
            margin: 10px auto;
            opacity: 0.3;
        }
        .name{
            margin-top: 20px;
            font-size: 2rem;

        }
        .desc{
            margin-top: 10px;
            font-size: .5;
        }
        
    }
}

}
@media (min-width:600px){
    .for-center{
        display: flex;
        margin-top: 10% !important;


        .photo-div{
            .profile-photo{
                width:200px !important;
                height: 200px !important;
            }
            .social-link{
                font-size: 2rem !important;
                &:hover{
                    transform: scale(2);


                }
            }
        }
        .info-section{
            margin-left: 50px !important;
            .name{
                font-size: 3rem !important;
            }
            .desc{
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 25px;
            }
            
        }
        
    }
}