@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main-body {
  background: url("../bck2.jpg");
  background-size: cover;
  margin: 10px auto;
  width: 90%;
  height: 95%;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-body .info-div {
  text-align: center;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  padding: 10px;
  color: white;
}

.main-body .info-div .nav-bar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  font-size: .8rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-body .info-div .nav-bar .nav-list .nav-link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.main-body .info-div .for-center {
  margin: 20%;
}

.main-body .info-div .for-center .photo-div {
  margin: 0;
  padding: 0;
}

.main-body .info-div .for-center .photo-div .profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.9);
}

.main-body .info-div .for-center .photo-div .social-list {
  padding: 0;
  margin: 0 auto;
  width: 200px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-body .info-div .for-center .photo-div .social-list .social-link {
  color: white;
  font-size: 1.2rem;
}

.main-body .info-div .for-center .photo-div .social-list .social-link:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.main-body .info-div .for-center .hr {
  height: 1.3px;
  width: 100px;
  background-color: white;
  margin: 10px auto;
  opacity: 0.3;
}

.main-body .info-div .for-center .name {
  margin-top: 20px;
  font-size: 2rem;
}

.main-body .info-div .for-center .desc {
  margin-top: 10px;
  font-size: .5;
}

.main-body .info-div .for-center .magic {
  padding: 5px;
  font-weight: bold;
  margin: 0 auto;
  font-size: 1.5rem;
  width: 170px;
  margin-top: 10px;
  background-color: #004987;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: pointer;
}

.main-body .info-div .for-center .magic:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 600px) {
  .for-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10% !important;
  }
  .for-center .photo-div .profile-photo {
    width: 200px !important;
    height: 200px !important;
  }
  .for-center .photo-div .social-link {
    font-size: 2rem !important;
  }
  .for-center .photo-div .social-link:hover {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .for-center .info-section {
    margin-left: 50px !important;
  }
  .for-center .info-section .name {
    font-size: 3rem !important;
  }
  .for-center .info-section .desc {
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 25px;
  }
  .info-div .nav-bar .nav-list {
    -webkit-box-pack: center   !important;
        -ms-flex-pack: center   !important;
            justify-content: center   !important;
  }
  .info-div .nav-bar .nav-link {
    font-size: 1.5rem !important;
  }
}

@media (max-height: 500px) {
  .for-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10% !important;
  }
  .for-center .photo-div .profile-photo {
    width: 100px !important;
    height: 100px !important;
  }
  .for-center .photo-div .social-link {
    font-size: 2rem !important;
  }
  .for-center .photo-div .social-link:hover {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .for-center .info-section {
    margin-left: 50px !important;
  }
  .for-center .info-section .name {
    font-size: 2rem !important;
  }
  .for-center .info-section .desc {
    font-size: .7rem !important;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 15px;
  }
  .info-div .nav-bar .nav-list {
    -webkit-box-pack: center   !important;
        -ms-flex-pack: center   !important;
            justify-content: center   !important;
  }
  .info-div .nav-bar .nav-link {
    font-size: 1rem !important;
  }
}
/*# sourceMappingURL=about.css.map */