@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
*{
    margin: 0;
}
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;

}

img{
    max-width: 100%;
}
.top{
    height: 100%;
    .cloud{
        position: absolute;
        width: 290px;
        height: 290px;
        z-index: -1000;
    }
    #cloud1{
        left:150px;
    }
    #cloud2{
        top: 190px;
        left:-120px;
    }
    #cloud3{
        width: 200px;
        height: 200px;
        top:260px;
        left:255px;
    }
    .front-heading{
       // border: 1px solid black;
        width: 250px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 4rem;
        letter-spacing: 5px;
    }
    .ham{
        font-size: 2.6rem;
    }
    #nav{
        display: none;
    }
    .nav{
        
        font-size: 1.5rem;
        color:#173f5f;
        .link{
            color:#173f5f;
        }
    }
}
.project-div{
    height: 100%;

.project-section{
    height:100%;
    background-color:#5cdb95 ;

    .pro-itself{
        width: 300px;
        font-size: 1.2rem;
        line-height: 22px;
    }
    .project-desc{
        background-color: #379683;
        height: 300px;
        width: 100px;
    }
    .slogan{
        position: absolute;
        left:30px;
        width:250px;
        margin-top: 50px;
        color: black;
        font-size: 2.8rem;
        font-weight: bolder;
       //border:1px solid black;
    }
    .link{
        font-size: 1.5rem;
        color:#173f5f;
        
    }
    .slogan2{
        font-size:2rem;
        
    }
    .pd4{
        background-color: #edf5e1;

    }
}

.p2{
    background-color: #edf5e1;
}

.p4{
    background-color: #8ee4af   ;

}
}

