@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.ribbon-div {
  position: absolute;
  top: 70px;
  left: 30px;
  width: 80%;
  height: 70px;
  background: #283048;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#859398), to(#283048));
  background: linear-gradient(to right, #859398, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .8;
}

.ribbon-div .logo {
  position: absolute;
  font-size: 3rem;
  margin-left: 50px;
  color: white;
}

.main-body {
  background: url("../bck2.jpg");
  background-size: cover;
  margin: 10px auto;
  width: 90%;
  height: 95%;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-body .info-div {
  text-align: center;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  padding: 10px;
  color: white;
}

.main-body .info-div .name {
  padding: 10px;
  margin: 0 auto;
  font-size: 4rem;
  border: 2px solid #e2e8de;
  width: 80%;
  font-weight: 100;
}

.main-body .info-div .title {
  line-height: 4rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.main-body .info-div .title:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-body .info-div .desc {
  line-height: 1rem;
  font-weight: bold;
  -webkit-transition: .2s;
  transition: .2s;
}

.main-body .info-div .desc:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-body .info-div .for-center {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-body .info-div .for-center .anime {
  position: absolute;
  left: 10%;
  text-align: center;
  width: 80%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .info-div .for-center .anime .ball {
  margin-left: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #859398;
}

.main-body .info-div .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-body .info-div .nav-bar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  width: 800px;
  margin: 0px auto;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-body .info-div .nav-bar .nav-list .nav-link {
  text-decoration: none;
  color: white;
}

.main-body .info-div .nav-bar .nav-list .nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-body .image {
  width: 510px;
  height: 600px;
}

@media screen and (max-width: 600px) {
  .ribbon-div {
    left: 5px;
  }
  .ribbon-div .logo {
    margin-left: 15px;
  }
  .for-center {
    margin-top: 25%;
  }
  .for-center .name {
    font-size: 2.5rem !important;
    width: 85%;
    padding: 0;
  }
  .for-center .title {
    line-height: 1rem !important;
    width: 200px;
    margin-top: 20px !important;
  }
  .for-center .desc {
    line-height: 1rem !important;
    font-weight: bold;
    margin-top: 20px !important;
  }
  .info-div .nav-list {
    font-size: .8rem !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin: 0 auto;
  }
  .info-div .nav-list .nav-link {
    margin-left: 25px;
  }
}

@media screen and (max-width: 992px) {
  .ribbon-div {
    top: 50px !important;
  }
  .name {
    font-size: 1.2rem !important;
    width: 85%;
    padding: 0;
    margin-top: 60px !important;
  }
  .for-center {
    margin-top: 12px;
  }
  .for-center .anime {
    margin-bottom: 80px !important;
  }
  .for-center .anime .ball {
    width: 10px;
    height: 10px;
  }
}
/*# sourceMappingURL=style.css.map */